{% extends 'base.html' %}

{% block content %}
  <span class="loader" id="spinLoader" hidden></span>
  <p align="center"> 
    <b>Ethereum Address (Rinkeby Test network):</b>
    <a href="https://rinkeby.etherscan.io/address/0xE8A94362bdaF3755f01fC4DeB10c9AA473be7803" target="_blank"> View transactions on Etherscan</a>
  </p>
  <div class="container">
    <p>Please specify valid CKAN api url to store or verify data. Example: <a href="https://opendata.praha.eu/api/3/action/package_list">https://opendata.praha.eu/api/3/action/package_list</a></p>
    <div class="input-group" align="center">
      <input required id="ckan-input-url" name="Ckan Url" placeholder="Valid Ckan API URL package list" class="form-control">
      <button class="btn btn-info" id="find-ckan-packages" onclick="getPackages()">Go</button>
    </div>

    <label style="visibility: hidden; margin-top: 15px; margin-left: 5px;" for="packages" id="label-select"> Choose package</label>
    <div align="center">
      <select style="visibility: hidden" name="packages" id="packages", class="form-control">
      </select>
    </div>
    <br>
    <div align="center">
      <button style="visibility: hidden;" class="btn btn-info" id="btn-store-package" onclick="storePackage()">
        <i class="fa fa-refresh fa-spin" id="store-loader" hidden></i> Store package
      </button>
      <button style="visibility: hidden;" class="btn btn-primary" id="bth-verify-package" onclick="verifyPackage()">
        <i class="fa fa-refresh fa-spin" id="verify-loader" hidden></i> Verify package
      </button>
    </div>
    <br>
  </div>  

{% endblock %}